.screen {
  /* position: fixed; */
  background: lightgray;
  opacity: 0.6;
  /* left: 10px; */
  /* bottom: 10px; */
  /* padding: 10px; */
  border-radius: 10px;
  box-sizing: border-box;
  transform-origin: left top;
  transform: scale(0.2);
  pointer-events: none;
}

.sysbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: gray;
  border-radius: 4px;
}

.browser {
  background: rgba(37, 37, 37, 0.888);
  position: absolute;

  border-radius: 6px;
}
.viewport {
  background: rgba(221, 106, 6, 0.784);
  position: absolute;

  border-radius: 0 0 6px 6px;
}

.eye-track-thumb {
  background: tomato;
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  transform: translate(-50%, -50%);
}

.eye-track {
  pointer-events: none;
  opacity: 0.8;
  background: tomato;
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 32px;
  transform: translate(-50%, -50%);
  z-index: 66;
}
